*{
    margin:0;
    padding:0px;
}
.About header{
    position:sticky;
    top:0px;
    background-color:#161618;

}
.About {
    background-image:linear-gradient(to bottom,#161618,#44318D);
    height:200vh;
    width:100vw;
    font-family:'Helvetica, Arial, sans-serif';
    line-height: 2.0;
    color:white;
    text-align: center;
    /* background-color:#161618; */
}
.About .img-size{
    margin-bottom:20vh;
}
.About h2{

    text-align:left;
    color:#D83F87;
    padding-left:10vw;
    margin-top:10vh;
    
}

.About nav{
   
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:white;
    position:sticky;
    top:0px;
}
.About .logo{
    width:6vh;
    height:6vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ9kb1tFb13ee_4FZ37_sEUhvysQ9VtqWDcA&usqp=CAU");
    background-size: 6vh;
    position:sticky;
    top:0px;
}
.About ul{
display:flex;
flex-direction:row;
height:7vh;
align-items:center;
list-style: none;
}
.About li{
    padding:60px;
    font-weight:600;
    font-size:larger;
    text-transform:uppercase;   
}
.About .Home{
    color:#D83F87;
    text-decoration: none;   
}
.About .About_Nav,.About .Alumni{
    color:white;
    text-decoration: none;
}

.About .img-size{
    display:flex;
    justify-content:center;
    width:100vw;
    height:40vh;
    animation: main-images 0.6s ease-out  ;
    }
.About.container{
    text-align:left;
    padding:0px
}
.About .container ul{
    height:50vh;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.About .container li{
   padding:16px;
    padding-left:15vw; 
   color:#D83F87;
}
.About p{
    padding-left:30vw;
    font-size: large;
    width:50vw;
}

@keyframes main-images{
    0% {
        width:0;
        height:30vh;
        
    }
    100%{
        width:32vw;
        height:30vh;
    }
}

    

