*{
    margin:0;
    padding:0px;
}
.Home-page header{
    position:sticky;
    top:0px;
    background-color:#161618;

}
.Home-page {
    background-image:linear-gradient(to bottom,#161618,#44318D);
    height:210vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.0;
    /* background-color:#161618; */
}
.Home-page nav{
   
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:white;
    position:sticky;
    top:0px;
}
.Home-page .logo{
    
    width:6vh;
    height:6vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ9kb1tFb13ee_4FZ37_sEUhvysQ9VtqWDcA&usqp=CAU");
    background-size: 6vh;
    position:sticky;
    top:0px;
}
.Home-page ul{
display:flex;
flex-direction:row;
height:7vh;
align-items:center;
list-style: none;
}
.Home-page li{
    padding:60px;
    font-weight:600;
    font-size:larger;
    text-transform:uppercase;   
}
.Home-page .a{
    color:#D83F87;
    text-decoration: none;   
}
.Home-page .b,.c{
    color:white;
    text-decoration: none;
}

.Home-page .container{
    display:flex;
    justify-content:left;
    align-items:center;
    flex-direction: column;
    /* background-color: #161618; */
}

.Home-page .Alumni-Main1{
    background-image:url("https://www.iith.ac.in/assets/images/slider/banner1.jpg");
    animation: main-images 1s ease-in-out  ;
    background-size: cover;
    height:60vh;
    line-height: 0.7px;;
    width:80vw;   
   
}
.Home-page .Alumni-Main2{
    margin:80px;
    width:80vh;
    height:35vh;
    text-align: center;
    color:white;  
    
}
.Home-page p{
    font-size:small;
    /* transition-property:size;
    transition-duration: 5s;
    transition-delay: 2s;
    transition-timing-function:linear;  */
} 
.Home-page p:hover{
    font-size:medium;
}

.Home-page .img2,.img3{
    width:32vw;
    height:40vh;
   padding:100px;
   padding-top:40px;
   animation: images 1s ease-in-out  3s;
   
}


@keyframes images {
    0% {
        width:0;
        height:0;
    }
    100%{
        width:32vw;
        height:40vh;
    }

    
}
@keyframes main-images{
    0% {
        width:0;
        
    }
    100%{
        width:32vw;
       
    }
}